#actual-body {
    max-width: 70%;
}

.active-navlink {
    background-color: rgb(255, 255, 0);
}

table {
    background-color: rgb(0, 0, 168);
    width: 90%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.my-sidenav {
    z-index: 8;
    top: 0;
    left: 0;
    background-color: #00a8a8;
    padding: 6px;
    box-shadow: 10px 10px #000 !important;
    min-width: 200px;
    max-width: 50%;
}

.tui-sidenav {
    padding-top: 15px;
}

.tui-sidenav ul {
    margin-top: unset;
    border-top: 2px #000 solid;
}

.tui-sidenav ul li:hover {
    background-color: unset;
}

.deploy-img {
    height: 100%;
    width: 144px;
}

/*.cell {
    display: flex;
    text-decoration: none;
    padding: 120px;
    margin: 42px;
}*/
.flex-ul-prefer-hor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.right {
    float: right;
    width: 50%;
}

label {
    width: 50%;
}

.line-beside {
    display: flex;
    flex-direction: row;
}

.line-beside:before, .line-beside:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.line-beside:before {
    margin-right: 10px
}

.line-beside:after {
    margin-left: 10px
}

/* Tree Styles */

#tree-container ul {
    list-style-type: none;
    margin-left: 20px;
    padding-left: 0;
}

#tree-container li {
    position: relative;
}

#tree-container .folder:before {
    content: '\25B6'; /* Right-pointing triangle */
    position: absolute;
    left: -15px;
    cursor: pointer;
}

#tree-container .folder.expanded:before {
    content: '\25BC'; /* Down-pointing triangle */
}

#tree-container .file:before {
    content: '';
    position: absolute;
    left: -15px;
}

#tree-container .hidden {
    display: none;
}

.current-page > a {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.folder-name {
    cursor: pointer;
}

json-schema-form {
    margin: 2rem;
    width: calc(50rem + 5vw);
}

.json-editor-btntype-properties i {
    display: none;
}

.json-editor-btntype-properties span {
    display: none;
}

.json-editor-btntype-toggle {
    display: none;
}

.json-editor-btn-edit_properties {
    display: none;
}

.json-editor-btn-edit {
    display: inline-block;
    outline: 0;
    padding: 1px 10px;
    background-color: #00a800;
    color: #000;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 10px 10px #000;
    border-radius: 0;
}

#editor_holder {
    width: 100%;
}

.form-control {
    width: 100%;
}

.form-control input {
    background-color: #000;
    color: #fff;
    outline: 0;
    border: none;
    border-radius: 0;
}

.form-control label {
    display: unset !important;
}

/*.form-control label:after {
    content: "......: ";
}*/

.je-indented-panel {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.row {
    width: 100%;
}